.bookings-container {
  display: grid;
  gap: 10px;
  justify-items: center;
  padding: 10px;
  background-color: #333333;
  width: 500px;
}

.booking-details {
  background-color: #879eb2a4;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookings-card {
  background-color: rgb(148, 148, 148);
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers child elements horizontally */
  justify-content: center;
  margin-left: 20px;
}

.booking-image {
  width: 300px;
  max-height: 100px; /* Constrain height */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 8px;
  margin-bottom: 10px;
}

.booking-details-image {
  width: 300px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.bookings-title {
  text-align: center;
  color: #f39c12;
}

.bookings-title-container {
  align-items: center;
  background-color: #333333;
  height: 1000px;
}
