.carousel {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

/* Style for the carousel inner container */
.carousel-inner {
  display: flex;
  align-items: center;
  height: 400px; /* Set the height as needed */
  width: 100vw;
  overflow: hidden;
  position: relative;
}

/* Style for the image to ensure it's centered */
.carousel-inner img {
  max-width: 100%; /* Image can't exceed container width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image fits well */
  margin: auto; /* Center the image */
}
