.carousel {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.carousel-inner {
  display: flex;
  align-items: center;
  height: 400px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.carousel-inner img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: auto;
}
