.navbar {
  background-color: rgb(72, 136, 205);
  color: gray;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
  font-weight: bold;
}

.custom-navbar {
  display: flex;
  text-align: center;
  align-items: center;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navbar-nav li {
  display: inline-block;
}

.navbar-nav a {
  color: gray;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s, transform 0.3s;
}

.navbar-nav a:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.1);
}

.navbar-brand {
  color: gray;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.1);
}

.navbarNav {
  display: flex;
  align-items: center;
}
