/* .navbar {
  background-color: rgb(72, 136, 205);
  color: gray;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
  font-weight: bold;
}

.custom-navbar {
  width: 100%;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#navbarNav .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.navbar-nav a:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.1);
}

.navbar-brand {
  color: gray;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.1);
}

.navbarNav {
  display: flex;
  align-items: center;
  flex-direction: row;
} */

.custom-navbar {
  width: 100%;
}

.navbar {
  background-color: rgb(139, 146, 159);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbarNav .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  list-style: none;
  margin-right: 5px;
  /* background-color: rgb(17, 96, 165); */
  padding: 5px;
  font-style: italic;
  color: aliceblue;
}

li.nav-item {
  color: aliceblue;
}

.nav-link:hover {
  color: yellow;
}

.nav-link {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.navbar-logo {
  width: 30px;
  height: auto;
  margin-right: 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: rgb(71, 76, 85);
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #0056b3;
}

.admin-button {
  text-decoration: none;
  color: grey;
  transition: color 0.3s ease;
}

/* Active Button State */
.admin-button.active {
  color: white;
}

/* Button hover effect */
.admin-button:hover {
  color: white;
}
