.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  justify-items: center; /* Center the items horizontally */
  padding: 20px;
}

.product-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  max-width: 300px; /* Maximum width to keep the cards uniform */
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-info h3 {
  font-size: 18px;
  margin-top: 10px;
}

.product-info p {
  font-size: 14px;
  color: #555;
}

.view-offer-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.view-offer-link:hover {
  text-decoration: underline;
}

/* Message if they do not find a product with the filters  */
.sorry-message {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2d87f0; /* Soft blue color */
  background-color: #f8f9fa; /* Light grey background for contrast */
  padding: 20px;
  border-radius: 8px;
  margin: 30px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sorry-message span {
  font-size: 1.4rem;
  color: #1a73e8; /* Slightly darker blue for emphasis */
}

.sorry-message i {
  font-size: 1.5rem;
  margin-right: 8px;
  color: #28a745; /* Green color for the emoji */
}
