/* ProductDetail.css */
.product-detail {
  padding: 20px;
  background-color: #d6e1ec;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.product-detail h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.product-detail img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-detail p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* boton para Pagar */
.pay-now-btn {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.pay-now-btn:hover {
  background-color: #45a049;
}
