.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  padding: 10px;
}

.product-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column; /* Ensures content flows vertically */
  justify-content: space-between; /* Distributes space evenly */
}

.product-image {
  width: 100%;
  max-height: 200px; /* Set the max height to the desired value */
  object-fit: cover; /* Ensures the image fills the space without stretching */
  border-radius: 8px;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ensures space between left and right columns */
  width: 100%;
  padding: 10px;
  text-align: left;
}

.product-info .details {
  flex: 2; /* Takes 2 parts of the available space */
  padding-right: 10px; /* Adds some spacing between the columns */
}

.product-info .right-column {
  flex: 1; /* Takes 1 part of the available space */
  text-align: right;
  padding-left: 10px; /* Adds some spacing between the columns */
}

.price {
  color: black;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
}

.product-info p {
  font-size: 14px;
  color: #555;
}

.view-offer-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.view-offer-link:hover {
  text-decoration: underline;
}

/* Message if they do not find a product with the filters */
.sorry-message {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2d87f0; /* Soft blue color */
  background-color: #f8f9fa; /* Light grey background for contrast */
  padding: 20px;
  border-radius: 8px;
  margin: 30px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sorry-message span {
  font-size: 1.4rem;
  color: #1a73e8; /* Slightly darker blue for emphasis */
}

.sorry-message i {
  font-size: 1.5rem;
  margin-right: 8px;
  color: #28a745; /* Green color for the emoji */
}

.edit-button,
.delete-button {
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #b44a3a;
  color: whitesmoke;
}
