/* CRISTY  */

/* HomePage */
body {
  background-color: rgba(245, 245, 220, 0);
  text-decoration: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  padding: 20px;
  background-color: rgba(245, 245, 220, 0);
}

.products {
  border: 5px solid black;
  color: black;
  text-align: center;
}
