/* CRISTY  */

/* HomePage */
body {
  background-color: beige;
  text-decoration: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ERIAN  */

/* Both CAROUSEL */
