/* CRISTY  */

/* HomePage */
body {
  background-color: beige;
  text-decoration: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.searchForm {
  border: 5px solid black;
  color: black;
  text-align: center;
}

.content {
  padding: 20px;
  background-color: beige;
}

.products {
  border: 5px solid black;
  color: black;
  text-align: center;
}

.footer {
  background-color: gray;
  border: 5px solid black;
  color: black;
  text-align: center;
  display: flex;
}

/* ERIAN  */
.navbar {
  background-color: gray;
  color: white;
  border: 5px solid black;
  text-align: center;
  display: flex;
}
